.Search_searchBar {
    -webkit-backdrop-filter: blur(10px) brightness(50%);
    backdrop-filter: blur(10px) brightness(50%);
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 99;
    padding: 2rem 0;
}
.spsp:hover {
    color: white !important;
}
.search_searchBar_links {
    display: flex;
    gap: 15px;
}

.search_searchBar_links_linkk {
    cursor: pointer;
    color: #fff !important;

    position: relative;
    font-weight: 700;
}

.aaa {
    text-decoration: none;
    opacity: 100% !important;
    font-size: 1.2rem !important;
}

.aaa:hover {
    border-bottom: 4px solid white;
    transition: 0.0s;
}

.search_searchBar_item {
    cursor: pointer;
    position: relative;
    color: #4d4033;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.search_searchBar_item_search {
    position: absolute;
    right: 0;
    top: 0;
    transition: all .3s ease-in-out;
    transform-origin: right;
}

.search_group {
    position: relative;
    border-radius: 10px;
}

.search_group_control {
    border-radius: 5px;
    padding: 7px 50px 7px 15px;
    height: auto;
    border: none;
    font-size: 1rem;
    overflow: hidden;
    transition: all .3s ease-in-out;
    color: hsla(0,0%,100%,.5);
    background: hsla(0,0%,100%,.3);
}