.Search_searchBar {
    -webkit-backdrop-filter: blur(10px) brightness(50%);
    backdrop-filter: blur(10px) brightness(50%);
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 99;
    padding: 2rem 0;
}

.spsp:hover {
    color: white !important;
}

.search_searchBar_links {
    display: flex;
    gap: 15px;
    border: 0 !important;
}

.search_searchBar_links_linkk {
    cursor: pointer;
    color: #fff !important;
    position: relative;
    font-weight: 700;
    padding: 0 !important;
    background-color: transparent;
    border: 0;
    font-size: 1.2rem !important;
}



.seconed_section {
    padding: 30px 0;
    position: relative;
    margin-top: 100px;
}

.taps_style {
    display: flex;
    justify-content: space-around;
}

.taps_tap {
    font-size: 1.3rem !important;
    color: #4d4033 !important;
    font-weight: bold !important;
}