@media (min-width:320px) and (max-width: 480px) {
.Left_text{
    position: relative !important;;
    left: 0 !important;
    width: 100% !important;
}
.ALLDATA {
    flex-direction: column !important;
    align-items: normal !important;
}
.image {
    margin-right: 0 !important;
}
.Collections {
    --swiper-navigation-size: 20px !important;
}
.Collections [role=button] {
    top: 23%;
    width: 2rem !important;
    height: 2rem !important; 
}
.COLORspan {
    font-size: 1rem !important;
}
.Style_p {
    font-size: 1rem !important;
}
.aa span {
font-size: 0.8rem !important;
}

}
@media (min-width:481px) and (max-width: 768px) {
    .ALLDATA {
        flex-direction: column !important;
    }
    .Left_text {
        position: relative !important;
        left: 0 !important;
    }
    .image {
        margin-right: 0 !important;
    }
    .Collections [role=button] {
        top: 23%;
        width: 2rem !important;
        height: 2rem !important;
    }
    .Collections {
        --swiper-navigation-size: 15px !important;
    }
    .aa span {
        font-size: 0.7rem !important;
    }
    .Style_h4 {
        font-size: 1rem !important;
    }
    .Style_p {
        font-size: 1rem !important;
    }
}
.Caption {
    text-align: center;
    margin-bottom: 1rem;
}
.Caption h3 {
    font-size: 2.3rem !important;
    font-weight: 700 !important;
    color: #4d4033 !important;
    text-align: center !important;
    margin-bottom: 1.5rem !important;
    font-family: "Greta Sans Std";
}

.Caption_p {
    font-weight: 400 !important;
    color: rgba(77,64,51,.7) !important;
    text-align: center !important;
    margin-bottom: 1.5rem !important;
    font-family: "Greta Sans Std";
    font: 1em sans-serif;
}
.ALLDATA {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.Left_text {
    position: absolute;
    left: 56px;
    background-color: white;
    box-shadow: inset 0 0 0 0 white;
    border: 1px solid #4d40330a;
    font-family: "Greta Sans Std";
    border-radius: 0.4rem;
}
.image {
    margin-right: 2.5rem ; 
}
.Style_h4 {
    font-size: 1.3rem;
    font-weight: 500;
    color: #e35a00;
    font-family: "Greta Sans Std";
}
.COLORspan:hover{
    color: #e35a00;
}
.Style_p {
    font-size: 1.8rem;
    font-weight: 500;
    font-family: "Greta Sans Std";
}

.aa {
    position: absolute;
    right: 6%;
    bottom: 9%;
    text-decoration: none;
    color: black;
}

.aa:hover span {
    color: #e35a00;
}
.Collections {
    --swiper-navigation-size: 25px;
}

.Collections [role=button] {
    cursor: pointer;
    width: 2.5rem;
    height: 2.5rem;
    padding: 0.25rem;
    color: #fff;
    background-color: #e35a00;
    box-shadow: 0 3px 6px rgba(0,0,0,.16);
    border: 1px solid transparent;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease-in-out;
}

.LASTBUTTON a{
    color: #e35a00;
    border: 1px solid #e35a00;
    border-radius: 4px;
    padding: 8px 50px;
    text-decoration: none;
}
.LASTBUTTON a span{
    position: relative;
    z-index: 3;
}
.LASTBUTTON a span:hover{
    color: white;
}

.LASTBUTTON a:hover {
    color: white;
    background-color: #e35a00;
    transition: 0.3s;
}