.whatson_card {
    border-radius: 10px;
    box-shadow: 0 32px 64px rgba(0, 0, 0, .06);
    height: 100%;
}

.First_Bottom_Span {
    box-sizing: border-box;
    display: inline-block;
    overflow: hidden;
    width: initial;
    height: initial;
    background: none;
    opacity: 1;
    border: 0px;
    margin: 0px;
    padding: 0px;
    position: relative;
    max-width: 100%;
}