@media (min-width:320px) and (max-width: 480px) {
    .ExperianceGap {
        gap: 0 !important;
        flex-direction: column;
        gap: 1.5rem !important;
    }
    .left_img{
        height: 142.5px !important;
        object-fit: cover;
    }
    .Caption h3 {
        font-size: 2rem !important;
    }
    .Caption_p {
        font-size: 1rem !important;
    }
    .TEXT_h3 {
        color: white !important;
    }
    .TEXT_P {
        display: none;
    }
}

@media (min-width:481px) and (max-width: 768px)  {
    .ExperianceGap {
        flex-direction: column !important;
    }

    .left_img{
        height: 333px !important;
        object-fit: cover;
    }
    .TEXT_P {
        font-size: 0.8rem !important;
    }
}
@media (min-width:769px) and (max-width: 1024px) {
    .ExperianceGap {
        flex-direction: column;
    }
    .left_img{
        height: 333px !important;
        object-fit: cover;
    }
}
.Caption {
    text-align: center;
    margin-bottom: 1rem;
}
.Caption h3 {
    font-size: 2.3rem ;
    font-weight: 700 !important;
    color: #4d4033 !important;
    text-align: center !important;
    margin-bottom: 1.5rem !important;
    font-family: "Greta Sans Std";
}
.Caption_p {
    font-weight: 400 !important;
    color: rgba(77,64,51,.7) !important;
    text-align: center !important;
    margin-bottom: 1.5rem !important;
    font-family: "Greta Sans Std";
}

.Right_IMAge{
    padding: 0rem 1.5rem;
    bottom: 0;
    left: 0;
    background: linear-gradient(180deg,transparent,rgba(0,0,0,.8));
    z-index: 5;
}
.left_img {
    height: 645px;
}
.right_gap {
    row-gap: 1.5rem;
    display: flex;
    flex-direction: column;
}

.TEXT_h3 {
    font-weight: 700 !important;
    color:  #e35a00;
    text-align: start !important;
    margin-bottom: 0.5rem !important;
    font-family: "Greta Sans Std";
}



.TEXT_P {
    color: #fff;
    font-size: 1rem;
    font-family: "Greta Sans Std";
}

.div_image:hover div {
    transform: scale(1.1 );
    transition: 0.8s all;
}
.LastButton {
    text-align: center;
    align-items: center;
}

.LastButton a{
    text-decoration: none;
    background-color: white;
    color: #e35a00;
    border: 1px solid #e35a00;
    font-family: "Greta Sans Std";
    transition: 0.5s;
    padding: 10px 40px;
    border-radius: 4px;
}
.LastButton a:hover {
    background-color: #e35a00;
    color: white;
}
.ExperianceGap {
    gap: 1.6rem;
}