.welcome {
    padding: 30px 0;
    position: relative;
    margin-top: 84px;

}

.div_image {
    height: 650px;
    position: relative;
}

.bann_image {
    width: 100%;
    height: 100%;
    object-fit: fill;
}





.bottomSection {
    padding: 30px 0;
    position: relative;
}

.card_style {
    height: 450px;
}

.First_title {
    font-weight: 400;
    color: rgba(77, 64, 51, .7);
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
}

.total_card {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.First_Bottom_Span {
    box-sizing: border-box;
    display: inline-block;
    overflow: hidden;
    width: initial;
    height: initial;
    background: none;
    opacity: 1;
    border: 0px;
    margin: 0px;
    padding: 0px;
    position: relative;
    max-width: 100%;
}

.text_onCard {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 25px 20px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
    z-index: 2;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    overflow: hidden;
    border-radius: 10px;
}

.text_onCard::before {
    z-index: -1;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background: #4d4033;
    background: linear-gradient(0deg, #4d4033, rgba(77, 64, 51, 0));
    border-radius: 0 0 10px 10px;
    transition: all .5s ease-in-out;
    transform: translateY(50%);

}

.Bottom_text {
    z-index: 9;
    text-align: center;
    transition: all .5s ease-in-out;
    transform: translateY(78%);
}

.Style_H6 {
    font-size: 1.1rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: #fff;
    font-family: "Greta Sans Std";
    text-align: center;
}

.New_Links {
    color: #fff;
    text-decoration: underline;
    font-weight: 700;
    font-family: "Greta Sans Std";
}

.total_card:hover .Bottom_text {
    transform: translateY(0);
}

.total_card:hover .text_onCard::before {
    background-color: #4d4033;
    transform: translateY(30%);
}